.section__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  width: 80%;
  margin: 30px auto 100px auto;
  gap: 50px;


  &--picture{
    display: block;
  
    p { 
      font-size: 2.5rem;
      font-family: $Fuente-parrafo;
      text-align: center;
      justify-content: center;
      margin-top: 25px;

      a {
        color: $color-text;
        text-decoration: none;
      }

      a:hover {
        color: $color-blanco;
      }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10%;
      box-shadow: 15px 15px 15px black;   
    }
  }
}
